body {
     margin: 0;
     padding: 0;
     background-color: black;
     background-image: url('../src/assents/fotos-presskit/DSC02769\ copy\ -\ copia.jpg');
     background-size: cover; 
     background-repeat: no-repeat; 
     background-position: center; 
     height: 100vh; 
}


h1,
h2 {
     text-align: center;
     margin: 0;
}

a {
     text-decoration: none;
}