.musicProfiles {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 2rem;
     text-align: center;
}

.embeds {
     display: flex;
     flex-direction: column;
     gap: 2rem;
     align-items: center;
}

.embed {
     width: 100%;
     max-width: 600px;
}